/**
* @name Star System by userminer2
* @version Auto Update
* @description Remix of Frosted Glass by userminer2
* @author userminer2
* @invite legitphase
* @Source https://github.com/DiscordStyles/FrostedGlass
* @website https://betterdiscord.app/theme/Frosted%20Glass
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--background-image: url('https://i.imgur.com/aTTH5Xf.png');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.imgur.com/lSTVZHO.png');
--popout-modal-blur: 0px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.2;
--left-brightness: 0.2;
--middle-brightness: 0.5;
--right-brightness: 0;
--popout-modal-brightness: 0;
--gradient-primary: 85,183,39;
--gradient-secondary: 63,81,181;
--gradient-direction: 300deg;
--tint-colour: 78,167,36;
--tint-brightness: 0;
--window-padding: 10px;
--window-roundness: 0px;
--scrollbar-colour: #ffffff0d;
--link-colour: #B7FF39FF;
--show-gift-gif-buttons: no-repeat;
--font: 'Courier';
--update-notice-1: none;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 10px;
}
